GyroscopeIOS.xcodeproj/project.xcworkspace/xcuserdata/o_sher.xcuserdatad/UserInterfaceState.xcuserstate
GyroscopeIOS.xcodeproj/xcuserdata/o_sher.xcuserdatad/xcschemes/GyroscopeIOS.xcscheme
GyroscopeIOS.xcodeproj/xcuserdata/o_sher.xcuserdatad/xcschemes/xcschememanagement.plist
